.frame-1 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  width: 1920px;
}

.overlap-group2 {
  background: linear-gradient(180deg, rgb(96, 150, 180) 0%, rgb(238, 233, 218) 100%);
  border: 1px solid;
  border-color: var(--black);
  height: 2287px;
  position: relative;
  width: 1920px;
}

.overlap-group3 {
  height: 884px;
  left: 22px;
  position: absolute;
  top: 45px;
  width: 1853px;
}

.kanan {
  height: 767px;
  left: 1481px;
  position: absolute;
  top: 117px;
  width: 372px;
}

.navigasi {
  align-items: flex-start;
  display: flex;
  height: 224px;
  left: 81px;
  min-width: 1708px;
  position: absolute;
  top: 0;
}

.title {
  letter-spacing: 0;
  line-height: normal;
  min-height: 77px;
  text-align: center;
  width: 205px;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-left: 136px;
  min-height: 224px;
  width: 1033px;
}

.place {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  min-height: 77px;
  text-align: center;
  width: 274px;
}

.group-container {
  align-items: flex-end;
  background-color: #d9d9d9;
  border-radius: 60px;
  box-shadow: 0px 6px 4px #00000040;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  min-width: 1033px;
  padding: 9px 47px;
}

.overlap-group {
  align-self: center;
  background-color: #959595;
  border-radius: 91px;
  box-shadow: 0px 7px 4px #00000040;
  height: 64px;
  margin-bottom: 1.0px;
  position: relative;
  width: 237px;
}

.ellipse-1 {
  height: 39px;
  left: 13px;
  position: absolute;
  top: 11px;
  width: 39px;
}

.icon {
  color: var(--bizarre);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 47px;
}

.group-2 {
  height: 76px;
  margin-left: 78px;
  width: 245px;
}

.group-3 {
  height: 75px;
  margin-bottom: 1px;
  margin-left: 102px;
  width: 245px;
}

.place-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 54px;
  min-height: 77px;
  text-align: center;
  width: 274px;
}

.kiri {
  height: 764px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 396px;
}

.tengah {
  height: 767px;
  left: 439px;
  position: absolute;
  top: 285px;
  width: 1041px;
}

